# Run checks on PRs to 'main' branch

name: Build Check

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  Setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Install dependencies
        run: npm ci
    Prettier:
      steps:
        - name: Run Prettier checks
          run: npm run format:check
    ESLint:
      steps:
        - name: Run ESLint checks
          run: npm run lint:check
    Build:
      steps:
        - name: Ensure build succeeds
          run: npm run build
